body{ background: rgb(10,10,10); padding: 10px;}
*{ text-align:center; font-size: 14pt; font-family: Myriad Pro; color: white;}
h1,h3{  margin: auto; margin-top: 10px; margin-bottom: 20px;}
h1{ font-size: 18pt; }
h2{ font-size: 15pt; }
#all{ margin: auto; width: 960px; }
#subheader{ margin: auto; margin-bottom: 0px;}
#clusters{border:0; color:#f6931f; font-weight:bold; padding:5px; margin: 5px;}
#slider{ width: 500px; margin: auto; margin-top: 5px; margin-bottom: 5px;}
#art_canvas{ cursor: pointer;}
#color{ width: 100px; height: 100px; float: left;}
#description{ height: 100px; float: right; margin: 20px; text-align: left;}
#about{ width: 600px; margin: auto; color: white; margin-bottom: 200px;}
#about p{ text-align: justify;}
#main{ width: 960px; position: relative; }
#demo { width: 900px; float:left; }
#index{ overflow: hidden }
#searchopt{ overflow: scroll; height: 630px; list-style: none; margin: none;}
.searchitem{ overflow: none; height: 60px; background: rgb(150,150,150); margin-bottom: 1px; padding: 5px; font-size: 14px; text-align: left; }
.search { height: 650px; }
.unpopped { right: 0px; width: 250px; position: absolute; background-color: rgb(75,75,75); color: white;}
.popped { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); background-color: rgb(75,75,75); z-index: -1;  position: absolute; cursor: pointer; }
.in{ padding: 5px 20px 30px 20px; right: 10px; top: 100px; border: 1px solid white; }
.out{ padding: 5px 20px 30px 20px; right: 0px; top: 100px; border: 1px solid white; }
#about_link{ position: absolute; top: 20px; right: 30px; font-size: 30px; text-decoration: none;}
#cover{ height: 1000px; width: 100%; position: relative; top: 0px; z-index:999; background: rgb(10,10,10);}
#go{ font-size: 30px; }
p{ margin: 20px; line-height: 110%;}
